@mixin tableGrid {
  display: grid;
  grid-gap: 30px;
  align-items: center;
  grid-template-columns: minmax(60px, 100px) minmax(50px, 100px) 1fr 50px 1fr 170px;
}

.container {
  height: calc(100vh - 67px);
  display: grid;
  grid-template-columns: 200px 1fr;

  &__head {
    padding: 15px;
    margin-bottom: 15px;
  }

  .main-home {
    padding: 15px;
  }

  .table {
    &__head {
      @include tableGrid;
      border-bottom: 1px solid #ccc;
      p {
        font-size: 14px;
        color: #a2a2a2;
        line-height: 26px;
      }
    }

    &__column {
      padding: 15px 0;
      overflow: hidden;
    }

    .user {
      @include tableGrid;
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 26px;
      }
      &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        border-radius: 5px;
        background: blue;
        color: #fff;
        font-size: 14px;
        svg {
          fill: #fff;
        }

        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
}
